h1 {
	text-align: center;
	background-color: #FFCFDA;
	padding: 20px;
	margin: 10px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){ 
	background-color: #f2f2f2; 
}

tr:hover { 
	background-color: #FFD0AF;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #FFCFDA;
}

.image {
	text-align: center;	
}

.profile {
	width: 80px;
	border-radius: 15%;
}